* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 48px 0 48px 0;
}

.MuiBottomNavigation-root {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

.pageName {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: rgba(1, 163, 157, 0.71);
  margin: 0;
  padding-left: 16px;
  padding-top: 8px;
  line-height: 48px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16pt;
  color: white;
}
